body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    color: white;
    margin: 0;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.search {
    padding: 5px;
    border: none;
    outline: none;
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.search-button img {
    width: 16px;
    height: 16px;
}

.container {
    text-align: center;
    padding: 50px;
    position: relative;
    height: 100vh; /* Added to cover the entire viewport height */
}

#intro {
    position: relative;
    margin-bottom: 50px; /* Added to create space between intro and demo-container */
}

.main-heading {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
    line-height: 1.2;
    text-align: left; /* Align to the left */
    display: inline-block;
    width: 100%; /* Make sure it takes up the full width */
}


.mobile-image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: auto;
}

.demo-container {
    background-color: green;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px); /* Adjusted width to provide equal spacing from left and right */
    height: calc(50vh - 90px); /* Added to cover half of the viewport height minus header and intro height */
    position: absolute;
    top: 50%; /* Adjusted top position */
    left: 50%; /* Adjusted left position */
    transform: translate(-50%, -50%); /* Adjusted transform */
    margin: 20px 20px; /* Added margin to create equal gaps from left and right */
}



.cta-button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
